@model FBPortal.WebUI.Models.ClientViewModel

<div class="well">
    <div>
        <div style="float:left"><h3 class="panel-title">@Model.Name</h3></div>
        <div style="float:right"><h3 class="panel-title">@Model.Balance</h3></div>

    </div>
</div>
