@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1536 Highland Ave<br />
    Charleston, SC 29412<br />
    <abbr title="Phone">P:</abbr>
    843-456-6545
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@grassrootscpa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@grassrootscpa.com</a>
</address>